#house {
  max-width: 300px;
  max-height: 380px;
  background-color: #f1f3f7;
}

.room {
  position: relative;
  border: black 2px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.roomName {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2em;
  color: #1658f4;
}

/******************************************/
/*  ROOMS                                 */
/******************************************/

div[class^="room"]:nth-child(1) {
  left: 0;
  top: 0;
  width: 40%;
  height: 120px;
}

div[class^="room"]:nth-child(2) {
  left: 40%;
  top: -124px;
  width: 58%;
  height: 80px;
}

div[class^="room"]:nth-child(3) {
  left: 0;
  top: -85px;
  width: 40%;
  height: 120px;
}

div[class^="room"]:nth-child(4) {
  left: 56%;
  top: -250px;
  width: 42%;
  height: 110px;
}

div[class^="room"]:nth-child(5) {
  left: 0px;
  top: -200px;
  width: 50%;
  height: 130px;
}

div[class^="room"]:nth-child(6) {
  left: 50%;
  top: -334px;
  width: 49%;
  height: 130px;
}

div[class^="room"]:nth-child(7) {
  left: 1px;
  top: -343px;
  width: 127px;
  height: 150px;
  line-height: 120px;
}

div[class^="room"]:nth-child(7):before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff;
}

div[class^="room"]:nth-child(8) {
  left: 134px;
  top: -502px;
  width: 97px;
  height: 90px;
  line-height: 130px;
}

div[class^="room"]:nth-child(8):before {
  top: 30px;
  right: -4px;
  height: 60px;
  border: 1px solid #fff;
}

div[class^="room"]:nth-child(9) {
  left: 236px;
  top: -603px;
  width: 110px;
  height: 150px;
  line-height: 80px;
}
